<?xml version = "1.0" encoding = "UTF-8"?>

<beans xmlns = "http://www.springframework.org/schema/beans"
       xmlns:xsi = "http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation = "http://www.springframework.org/schema/beans
   http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">

<bean id ="st1" class = "org.example.learning.Student">
    <property name="age" value="18"/>
    <property name="rno" value="1"/>
    <property name="writer" ref="pc1"/>
    </bean>
    <bean id ="st2" class = "org.example.learning.Student">
    </bean>
    <bean id ="p1" class="org.example.learning.Pen">
    </bean>
    <bean id="pc1" class="org.example.learning.Pencil">

    </bean>
</beans>